<MarketplaceDetails>
  <SmallAppTile>ApplicationIconWP.png</SmallAppTile>
  <LargeAppTile>Background.png</LargeAppTile>
  <PCAppTile>MosaMP.png</PCAppTile>
  <ScreenShots>listeCours.png;listeDocuments.png;;;;;;;</ScreenShots>
  <ScreenShotsWXGA>;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>