<MarketplaceDetails>
  <SmallAppTile>ApplicationIconWP.png</SmallAppTile>
  <LargeAppTile>Background.png</LargeAppTile>
  <PCAppTile>MosaMP.png</PCAppTile>
  <ScreenShots>wp1.png;wp2.png;wp3.png;wp5.png;wp8.png;;;;</ScreenShots>
  <ScreenShotsWXGA>;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>